<h1 class ="bg:green">
  <%= @course.course_name%>
</h1>
<nav class="my-3">
  <% if @course.holes.count < 18%>
    <button class="btn btn-md rounded" >
      <%= link_to "Add a new hole", new_admin_course_hole_path %>
    </button>
  <% end %>
</nav>
<ul id="holes" class="list-group">
  <% @course.holes.order("hole_number ASC").each do |hole| %>
    <li class ="list-group-item m-3 rounded">
      <%= render hole %>
    </li>
  <% end %>
</ul>
<button class="btn btn-md rounded" >
  <%= link_to "Back to All courses", admin_courses_url %>
</button>
