<p style="color: green"><%= notice %></p>
<h1>Holes by course</h1>
<ul class="nav">
  <% unless @holes.count > 18%>
    <li>
      <button>
        <%= link_to "Add a new hole", new_admin_hole_path %>
      </button>
    </li>
  <% end %>
  <li>
    <%= link_to "See All courses", admin_courses_path %>
  </li>
</ul>
<div id="holes" class="flexw">
  <% @holes.each do |hole| %>
    <span class ="card gradient_green ">
      <%= render hole %>
    </span>
  <% end %>
</div>
