<div class="">
  <h1>Adding new hole to
    <%= @course.course_name%>
  </h1>
  <%= render "form", hole: @hole %>
  <br>
  <div>
    <%= link_to "View all holes", admin_course_path(@course) %>
  </div>
</div>
