<%= render @scorecard %>
<div>
  <%= link_to "Edit this scorecard", edit_admin_scorecard_path(@scorecard) %> |
  <%= link_to "Back to scorecards", admin_scorecards_path %>
  <%= button_to "Destroy this scorecard", @scorecard, method: :delete %>
</div>
