<h1>Editing scorecard</h1>

<%= render "form", scorecard: @scorecard %>

<br>

<div>
  <%= link_to "Show this scorecard", @scorecard %> |
  <%= link_to "Back to scorecards", scorecards_path %>
</div>
