<h1 class ="bg:green">
  <%= @course.course_name%>
</h1>
<nav class="my-3">
  <% unless @course %>
    <button class="btn btn-md rounded" >
      <%= link_to "Add a new hole", new_course_hole_path %>
    </button>
  <% end %>
</nav>
<ul id="holes" class="list-group">
  <% @course.holes.order("hole_number ASC").each do |hole| %>
    <li class ="list-group-item m-3 rounded">
      <%= render hole %>
    </li>
  <% end %>
</ul>
<%= button_to "Back to All courses", course_holes_path(@course) %>
