<p style="color: green"><%= notice %></p>
<h1>Holes by course</h1>
<ul>
  <li>
    <%= link_to "New hole", new_hole_path %>
  </li>
  <li>
    <%= link_to "See courses", courses_path %>
  </li>
</ul>
<div id="holes" style=" display: flex; flex-wrap: wrap; justify">
  <% @holes.each do |hole| %>
    <span style="
      border: 1px solid #AAAAFF; 
      margin: .5rem; 
      padding: 0 .5rem .5rem .5rem; 
      border-radius:6px; 
      
      ">
      <%= render hole %>
    </span>
  <% end %>
</div>
