$primary:       #219E59;
$secondary:     #CCFF66;
$info:          #1B98E0;
$warning:       #FB6107;
$danger:        #69140E;
$light:         #F6FFF8;
$dark:          #002642;

@import '~bootstrap/scss/bootstrap.scss';
