/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*:focus {
  outline-color: #fb6107;
  outline-width: 3rem;
}
a {
  color: inherit;
}
.card {
  border: 1px solid #141115;
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 6px;
}
.flexw {
  display: flex;
  flex-wrap: wrap;
}
.gradient_green {
  background: hsla(147, 65%, 37%, 1);
  background: linear-gradient(
    90deg,
    hsla(147, 65%, 37%, 1) 0%,
    hsla(133, 100%, 98%, 1) 9%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(147, 65%, 37%, 1) 0%,
    hsla(133, 100%, 98%, 1) 9%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(147, 65%, 37%, 1) 0%,
    hsla(133, 100%, 98%, 1) 9%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#219E59", endColorstr="#F6FFF8", GradientType=1 );
}
.nav {
  list-style: none;
}
.sandy {
  background: hsla(56, 24%, 87%, 1);

  background: radial-gradient(
    circle,
    hsla(56, 24%, 87%, 1) 72%,
    hsla(147, 37%, 45%, 1) 88%,
    hsla(147, 65%, 37%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(56, 24%, 87%, 1) 72%,
    hsla(147, 37%, 45%, 1) 88%,
    hsla(147, 65%, 37%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(56, 24%, 87%, 1) 72%,
    hsla(147, 37%, 45%, 1) 88%,
    hsla(147, 65%, 37%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E6E5D6", endColorstr="#499F70", GradientType=1 );
}
