<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Users</h1>
  <%= link_to "Add new user", new_admin_user_path %>
  <ul id="users" class="flex-index-data my-3 list-group">
    <% @users.each do |user| %>
      <li class ="list-group-item m-3 rounded">
        <%= render user %>
      </li>
    <% end %>
  </ul>
</div>
